@* 
    This is the main page for the Home Controller 
*@

@{
    ViewData["Title"] = "Whos The Expert";
}

<div>
    <h1>Welcome to Who's the Expert</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>This website will help the world come together and define who are the experts in various fields.</p>
    </div>
    <div class="col-md-4">
        <h2>How it Works</h2>
        <p>Create a user account and declare the fields you think you are an expert in. Others will can boost those fields and give testimonials.</p>
    </div>
    <div class="col-md-4">
        <h2>Why does this exist?</h2>
        <p>The site will help business and management teams clearly determin who is and who is not an expert in the field.</p>
    </div>
</div>
