@model WhosTheExpert.Models.Profession

@{
    ViewData["Title"] = "Edit";
}

<h2>Update</h2>
<hr />

<form asp-action="Edit">
    <div class="row form-border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-sm btn-success" />
            <input type="submit" asp-Action="Index" value="Back to List" class="btn btn-sm btn-default" />
        </div>
    </div>

</form>

