@model WhosTheExpert.Models.Review
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
@*<div class="row form-border">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="FromName"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="FromName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="ToName"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="ToName" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="WriteUp"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="WriteUp" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="Score"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Score" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-sm btn-default">Back to List</a>
    </div>
</div>*@
